<%= link_to @url, class: "system-item" do %>
  <%= content %>
  <div class="system-item__info">
    <div class="system-item__title"><%= @title %></div>
    <div class="system-item__sub">
      <%= sub %>
    </div>
  </div>
<% end %>