.system-sidebar {
  background-color: #141923;
  border-right: system-border();
  width: 230px;
  padding: system-spacing();
  display: flex;
  flex-direction: column;
  &__top {
    margin-bottom: system-spacing(xl);
  }
  &__body {
    flex:1
  }
  &__actions {
    display: flex; 
    align-items: center; 
    margin-bottom: system-spacing(sm);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__link {
    color: #fff;
    flex: 1;
    display: flex; 
    align-items: center; 
    font-size: system-font-size(md);
    i {
      color: #636b79;
      margin-right: system-spacing(sm);
      font-size: system-font-size(2xl);
    }
  }
  &__add {
    color: #06e1cf;
  }
}