<div class="system-sidebar">
  <div class="system-sidebar__top">
    <%= render(LogoComponent.new()) %>
  </div>
  <div class="system-sidebar__body">
    <%= content %>
    <%= body %>
  </div>
  <div class="system-sidebar__bottom">
    <%= bottom %>
  </div>
</div>