.system-sidebar {
  border-right: system-border();
  width: 230px;
  padding: system-spacing();
  display: flex;
  flex-direction: column;
  &__top {
    margin-bottom: system-spacing(xl);
  }
  &__body {
    flex:1
  }
  &__bottom {

  }
  a {
    margin-bottom: system-spacing(sm);
    font-size: system-font-size(md);
    display: flex; 
    align-items: center; 
    i {
      margin-right: system-spacing(sm);
      font-size: system-font-size(2xl);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}