.system-subbar {
  padding: system-spacing();
  width: 300px;
  border-right: system-border();
  &__action {
    margin-bottom: system-spacing(sm);
    .btn {
      font-size: system-font-size(sm);
      font-weight: 500;
    }
    i {
      margin-right: system-spacing(xs);
    }
  }
  &__heading {
    font-size: system-font-size(xs);
  }
}