.system-icon {
  width: 50px;
  text-align: center;
  color: system-color(gray, 200);
  font-size: system-font-size(3xl);
  border: 2px solid system-color(gray, 200);
  padding: system-spacing(xs);
  border-radius: system-border(radius);
}