<div class="system-heading">
  <div class="d-flex">
    <div class="">
      <%= content %>
    </div>
    <div class="flex-grow-1 ms-3">
      <h1 class="system-heading__title"><%= @title %></h1>
    </div>
  </div>
</div>